.avatar-img {
    height: 450px;
    display: block;
    margin: auto;
    background-attachment: fixed;
    border: 1px solid red;
}

.slidercontainer {
    margin: 0 auto;
    width: 80%;
    color: #333;
  }

  .slick-prev:before,
  .slick-next:before {
    display:none;
  }
 

