.header-color {
    background: #191919 !important;  
    color: #FFF !important;
    box-shadow: initial !important;
}

.iconbuttonz{
  color: #FFF !important;
  float: right;
}

.mdl-layout-title {
    margin-left: -50px !important;
    color: #FFF;
    font-family: 'Righteous', cursive !important;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 5px;
}

@media only screen and (max-width: 840px) {
    .header-color {
        box-shadow: none!important;
    }
}